/*===========================================================
banner CSS
=============================================================*/
.banner {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 150px;
  z-index: 10;
  background: linear-gradient(180deg, #F9FDFF 0%, rgba(255, 255, 255, 0) 100%);
  overflow-x: hidden;
}

.banner .banner-bg {
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner .explore {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: rgba(13, 13, 14, 0.4);
}

.banner h1 {
  font-size: 56px;
  font-weight: 800;
  color: var(--primary-text2);
  position: relative;
  z-index: 10;
}

.banner h1 span {
  color: var(--secondary);
}

.banner h1::after {
  content: '';
  width: 134px;
  height: 14px;
  background-color: #33AAFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  animation: enlarge 3s infinite;
}

.banner .popular-search {
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.6);
}

.banner .popular-search span {
  font-weight: 800;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .banner .banner-bg {
    top: unset;
  }

  .banner h1 {
    font-size: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner .banner-bg {
    top: unset;
  }

  .banner h1 {
    font-size: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding-top: 100px;
  }

  .banner .banner-bg {
    top: unset;
  }

  .banner h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    padding-top: 85px;
  }

  .banner .banner-bg {
    top: unset;
  }

  .banner small {
    font-size: 12px;
    font-weight: 700;
  }

  .banner h1 {
    font-size: 20px;
  }

  .banner h1::after {
    width: 51px;
    height: 6px;
  }

  .banner .popular-search {
    font-size: 10px;
  }

  .banner .popular-search span {
    display: block;
  }

  .banner .popular-search {
    color: rgba(13, 13, 14, 0.4);
  }

  .banner .popular-search span {
    color: rgba(13, 13, 14, 0.6);
  }
}

/*===========================================================
company CSS
=============================================================*/
.company .title {
  padding-bottom: 40px;
  text-align: center;
}

.company .title h2 {
  font-weight: 700;
  font-size: 20px;
  color: rgba(13, 13, 14, 0.6);
}

.company .company-slider img {
  opacity: 0.2;
  transition: all 0.3s linear;
}

.company .company-slider img:hover {
  opacity: 1;
}

.company .company-slider .swiper-wrapper {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
}

/*===========================================================
start-with CSS
=============================================================*/

.start-with .left-part span {
  display: inline-block;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.start-with .left-part h2 {
  color: var(--primary-text);
  font-size: 32px;
  font-weight: 800;
}

.start-with .left-part p {
  color: rgba(13, 13, 14, 0.6);
  font-size: 16px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 36px;
}

.start-with .buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.start-with .buttons .find-btn,
.start-with .buttons .reg-btn {
  padding: 16px 40px;
}

.start-with .buttons .find-btn::before {
  right: calc(100% - 38px);
}

.start-with .buttons .find-btn:hover::before {
  right: calc(0% - 50px);
}

.start-with .right-part {
  height: 384px;
  width: 100%;
  position: relative;
}

.start-with .single-card {
  box-shadow: 0px 26.3014px 52.6027px -9.86301px rgba(0, 0, 0, 0.14);
  padding: 14px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 240px;
  width: fit-content;
  background-color: linear-gradient(to right, rgba(255, 255, 255, 0.31), rgba(194, 225, 255, 0.19), rgba(143, 200, 254, 0.2), rgba(52, 142, 253, 0.56));
  position: absolute;
  animation: mover 2s infinite alternate;
}

.start-with .single-card.job {
  top: 80px;
  left: 87px;
}

.start-with .single-card.hired {
  right: 0;
  bottom: 106px;
}

.start-with .single-card.companies {
  left: 62px;
  bottom: 20px;
}

.start-with .single-card .icon-box {
  height: 78px;
  width: 78px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.start-with .single-card.job .icon-box {
  background-color: #33AAFF;
}

.start-with .single-card.hired .icon-box {
  background-color: #003C66;
}

.start-with .single-card.companies .icon-box {
  background-color: #001E33;
}

.start-with .single-card h2 {
  color: var(--text);
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 6px;
}

.start-with .single-card p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.6);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .start-with .single-card .icon-box {
    height: 60px;
    width: 60px;
  }

  .start-with .single-card h2 {
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .start-with .left-part h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .start-with .single-card {
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box {
    height: 60px;
    width: 60px;
  }

  .start-with .single-card h2 {
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p {
    font-size: 10px;
  }

  .start-with .single-card.hired {
    bottom: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .start-with .left-part h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .start-with .left-part p {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .start-with .buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .start-with .buttons .find-btn,
  .start-with .buttons .reg-btn {
    padding: 12px 30px;
  }

  .start-with .single-card {
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box {
    height: 60px;
    width: 60px;
  }

  .start-with .single-card.job {
    top: 42px;
    left: auto;
    right: 0;
  }

  .start-with .single-card.hired {
    right: auto;
    left: 0;
    bottom: unset;
    top: 139px;
  }

  .start-with .single-card.companies {
    left: auto;
    right: 0;
    bottom: 57px;
  }

  .start-with .single-card h2 {
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .start-with .left-part span {
    font-size: 12px;
  }

  .start-with .left-part h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .start-with .buttons .find-btn,
  .start-with .buttons .reg-btn {
    width: 100%;
    padding: 12px 0;
  }

  .start-with .single-card {
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box {
    height: 60px;
    width: 60px;
  }

  .start-with .single-card.job {
    top: 42px;
    left: auto;
    right: 0;
  }

  .start-with .single-card.hired {
    right: auto;
    left: 0;
    bottom: unset;
    top: 139px;
  }

  .start-with .single-card.companies {
    left: auto;
    right: 0;
    bottom: 57px;
  }

  .start-with .single-card h2 {
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p {
    font-size: 10px;
  }

  .start-with .buttons .find-btn:hover::before {
    right: calc(100% - 38px);
  }
}

@media screen and (max-width: 575px) {
  .start-with .buttons {
    flex-direction: column;
  }
}

/*===========================================================
popular-category CSS
=============================================================*/
.popular-category .single-category {
  border-radius: 8px;
  width: 100%;
  background: #FBFBFB;
  padding: 12px;
  transition: all 0.4s ease-in-out;
}

.popular-category .single-category:hover {
  background: linear-gradient(90deg, rgba(240, 254, 255, 0.3) 0%, rgba(234, 254, 255, 0.29) 100%);
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}

.popular-category .single-category .image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.popular-category .single-category .image img {
  width: 100%;
}

.popular-category .single-category .image span {
  text-transform: capitalize;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
  padding: 0 11px;
  color: var(--text);
  font-size: 12px;
  font-weight: 700;
  background-color: #E5F4FF;
  border-radius: 90px;
}

.popular-category .single-category h3 {
  font-size: 18px;
  color: var(--primary-text);
  font-weight: 800;
}

.popular-category .single-category p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.8);
  padding: 12px 0;
}

.popular-category .single-category a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  width: fit-content;
}

/*===========================================================
about CSS
=============================================================*/
.about {
  background: url(../images/about-us.png) no-repeat center;
  background-size: cover;
  padding-bottom: 162px;
}

.about .single-counter .icon-box {
  height: 88px;
  width: 88px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(201, 201, 201, 0.12);
  margin: auto;
}

.about .single-counter h3 {
  padding: 32px 0 8px 0;
  font-size: 32px;
  line-height: 50px;
  font-weight: 800;
  color: var(--primary-text2);
}

.about .single-counter p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

@media screen and (max-width: 767px) {
  .about .single-counter .icon-box {
    height: 56px;
    width: 56px;
  }

  .about .single-counter h3 {
    padding: 16px 0 0 0;
  }

  .about .single-counter p {
    font-size: 12px;
  }
}

/*===========================================================
latest-job CSS
=============================================================*/
.latest-job .latest-job-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

.latest-job .latest-job-category button {
  border-color: rgba(54, 54, 54, 0.12);
  /* box-shadow: 0px 20px 24px -4px rgba(255, 173, 38, 0.08), 0px 8px 8px -4px rgba(255, 173, 38, 0.03); */
  padding: 8px 24px;
  font-weight: 600;
}

.latest-job .latest-job-category li.active button::before {
  top: calc(-50% - 100px);
  right: calc(0% - 50px);
}

.latest-job .latest-job-category li.active button {
  color: white;
  border-color: var(--primary);
}

.latest-job .latest-job-category li button:hover {
  border-color: var(--primary);
}

.latest-job .single-job {
  background: #FFFFFF;
  border: 1px solid #E2E5F1;
  border-radius: 8px;
  padding: 24px 12px;
  display: flex;
  gap: 16px;
  min-height: 255px;
  transition: all 0.3s ease-in-out;
}

.latest-job .single-job:hover {
  background: linear-gradient(90deg, rgba(240, 254, 255, 0.3) 0%, rgba(234, 254, 255, 0.29) 100%);
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.latest-job .single-job .icon {
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latest-job .single-job .job-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.latest-job .single-job h3 {
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-text2);
  padding-bottom: 12px;
}

.latest-job .single-job ul li {
  padding: 2px 0;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.latest-job .single-job ul li:not(:last-child) {
  margin-bottom: 12px;
}

.latest-job .single-job ul li p {
  font-weight: 500;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.8);
  transition: all 0.3s linear;
}

.latest-job .single-job ul li:hover p {
  color: var(--primary-text);
}

.latest-job .single-job ul li:hover img {
  transition: all 0.3s linear;
  filter: brightness(0) saturate(100%) invert(2%) sepia(4%) saturate(1485%) hue-rotate(201deg) brightness(90%) contrast(94%);
}

.latest-job .single-job a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
}

.latest-job .single-job a i {
  font-size: 20px;
}

.latest-job .single-job a:hover {
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .latest-job .latest-job-category {
    justify-content: flex-start;
  }

  .latest-job .single-job h3 {
    font-size: 16px;
  }

  .latest-job .single-job a {
    font-size: 12px;
  }

  .latest-job .single-job .icon {
    height: 48px;
    width: 48px;
  }
}

/*===========================================================
job-location CSS
=============================================================*/
.job-location {
  background: rgba(229, 244, 255, 0.12);
}

.job-location .item {
  padding: 12px;
  border-radius: 8px;
  background: rgba(204, 234, 255, 0.12);
  height: auto;
  width: 100%;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 10;
}

.job-location .item::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(134.5deg, rgba(202, 245, 255, 0.3) 5.28%, rgba(204, 255, 249, 0.29) 98.93%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s linear;
}

.job-location .item:hover {
  border-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 12px 9px -4px rgba(255, 255, 255, 0.04), 0px 4px 4px -2px rgba(0, 0, 0, 0.03);
}

.job-location .item:hover::after {
  opacity: 1;
}

.job-location .item .image {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
  height: 232px;
  position: relative;
}

.job-location .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.job-location .item:hover .image img {
  transform: scale(1.1);
}

.job-location .item .image span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 0 14px;
  border-radius: 90px;
  transition: all 0.4s linear;
  background: rgba(120, 247, 255, 0.36);
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 20;
}

.job-location .item:hover .image span {
  background: rgba(255, 255, 255, 0.36);
}

.job-location .item h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-text);
}

.job-location .item p {
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.job-location a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
}

.job-location a i {
  font-size: 20px;
}

.job-location .hide-desktop {
  display: none;
}

@media screen and (max-width: 767px) {
  .job-location .item h3 {
    font-size: 16px;
  }

  .job-location a,
  .job-location .item p {
    font-size: 14px;
  }

  .job-location .hide-desktop {
    display: block;
  }

  .job-location .hide-big-mobile {
    display: none;
  }

}

@media screen and (max-width: 576px) {
  .job-location .hide-mobile {
    display: none;
  }
}

/*===========================================================
blog CSS
=============================================================*/
.blog .blog-slider {
  padding: 20px 10px 36px 10px;
}

.blog .single-blog {
  display: block;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: all 0.4s linear;
  z-index: 10;
}

.blog .single-blog::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(240, 254, 255, 0.3) 0%, rgba(234, 254, 255, 0.29) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s linear;
}

.blog .single-blog:hover {
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.blog .single-blog:hover::after {
  opacity: 1;
}

.blog .single-blog .image {
  height: 232px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.blog .single-blog .author img,
.blog .single-blog .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog .single-blog span {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.4);
}

.blog .single-blog h3 {
  color: var(--primary-text2);
  font-size: 18px;
  font-weight: 800;
  padding: 16px 0;
}

.blog .single-blog p {
  font-size: 14px;
  color: rgba(13, 13, 14, 0.8);
  padding-bottom: 12px;
}

.blog .single-blog .blog-author {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
}

.blog .single-blog .author {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.blog .single-blog h4 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text);
}

.blog .single-blog ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.blog .single-blog ul li {
  position: relative;
}

.blog .single-blog ul li small {
  display: inline-block;
  font-size: 12px;
  color: rgba(13, 13, 14, 0.4);
}

.blog .single-blog ul li:not(:first-child)::before {
  content: '.';
  font-size: 28px;
  line-height: 18px;
  color: black;
  position: absolute;
  top: -4px;
  left: -12px;
}

.blog-pagination.swiper-pagination {
  bottom: 0;
}

.blog-pagination .swiper-pagination-bullet {
  margin: 0 8px;
  height: 12px;
  width: 12px;
  background: var(--primary);
  opacity: 0.3;
  transition: all 0.3s linear;
}

.blog-pagination .swiper-pagination-bullet-active {
  width: 34px;
  background-color: #005999;
  opacity: 1;
  border-radius: 90px;
}

@media screen and (max-width: 767px) {
  .blog .single-blog {
    padding: 16px 12px;
  }

  .blog .single-blog span {
    font-size: 12px;
  }

  .blog .single-blog h3 {
    font-size: 16px;
  }

  .blog .single-blog h4 {
    font-size: 12px;
  }
}