/*===========================================================
banner CSS
=============================================================*/
.banner{
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
  padding-top: 150px;
  z-index: 10;
  background: linear-gradient(180deg, #F9FDFF 0%, rgba(255, 255, 255, 0) 100%);
}

.banner .banner-bg{
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner small{
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: rgba(13, 13, 14, 0.4);
}

.banner h1{
  font-size: 56px;
  font-weight: 800;
  color: var(--primary-text2);
  position: relative;
  z-index: 10;
}

.banner h1 span{
  color: var(--secondary);
}

.banner h1::after{
  content: '';
  width: 134px;
  height: 14px;
  background-color: #33AAFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  animation: enlarge 3s infinite;
}

.filter-job{
  /* background: rgba(255, 255, 255, 0.04); */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
  margin-top: 87px;
  margin-bottom: 69px;
  padding: 0 12px;
}

.filter-job .single-category{
  padding: 12px;
}

.filter-job .single-category .category-heading{
  gap: 8px;
  margin-bottom: 6px;
}

.filter-job .single-category .category-heading>div{
  gap: 12px;
}

.filter-job small{
  font-weight: 500;
  font-size: 12px;
  color: rgba(13, 13, 14, 0.4);
}

.filter-job i{
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.filter-job .icon{
  display: flex;
  padding: 4px;
}

.filter-job .keywords input{
  width: 100%;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text);
  background-color: transparent;
}

.filter-job .keywords input::placeholder{
  font-size: 14px;
  font-weight: 500;
  color: rgba(13, 13, 14, 0.4);
}

.banner .search-btn-main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner .search-btn{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 28px;
}

.banner .search-btn i{
  font-size: 20px;
  color: white;
}

.banner .popular-search{
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.6);
}

.banner .popular-search span{
  font-weight: 800;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .banner .banner-bg{
    top: unset;
  }
  
  .banner h1 {
    font-size: 40px;
  }

  .filter-job {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner .banner-bg{
    top: unset;
  }

  .banner h1 {
    font-size: 36px;
  }

  .filter-job {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner{
    padding-top: 100px;
  }

  .banner .banner-bg{
    top: unset;
  }

  .banner h1 {
    font-size: 30px;
  }

  .banner .search-btn-main{
    justify-content: start;
  }

  .banner .search-btn {
    padding: 10px 26px;
  }

  .filter-job {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .banner{
    padding-top: 82px;
  }

  .banner .banner-bg{
    top: unset;
  }
  
  .banner small {
    font-size: 12px;
    font-weight: 700;
  }

  .banner h1 {
    font-size: 20px;
  }

  .banner h1::after {
    width: 51px;
    height: 6px;
  }

  .filter-job {
    background: rgba(255, 255, 255, 0.06);
    box-shadow: -2px 2px 16px -4px rgba(0, 0, 0, 0.08), 2px 1px 6px -2px rgba(0, 0, 0, 0.03);
    margin-top: 24px;
    margin-bottom: 10px;
    padding: 12px;
  }

  .filter-job .single-category .category-heading{
    justify-content: space-between;
  }

  .filter-job .single-category.keywords .category-heading{
    justify-content: start;
  }

  .filter-job .single-category {
    padding: 0;
  }

  .banner .search-btn-main{
    justify-content: center;
    padding-top: 27px;
  }

  .banner .search-btn {
    padding: 9px 26px;
  }

  .banner .popular-search {
    font-size: 10px;
  }

  .banner .popular-search span {
    display: block;
  }

  .banner .search-btn::before{
    display: none;
  }
}

/*===========================================================
company CSS
=============================================================*/
.company .title{
  padding-bottom: 40px;
  text-align: center;
}

.company .title h2{
  font-weight: 700;
  font-size: 20px;
  color: rgba(13, 13, 14, 0.6);
}

.company .company-slider img{
  opacity: 0.2;
  transition: all 0.3s linear;
}

.company .company-slider img:hover{
  opacity: 1;
}

.company .company-slider .swiper-wrapper {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
}

/*===========================================================
start-with CSS
=============================================================*/

.start-with .left-part span{
  display: inline-block;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.start-with .left-part h2{
  color: var(--primary-text);
  font-size: 32px;
  font-weight: 800;
}

.start-with .left-part p{
  color: rgba(13, 13, 14, 0.6);
  font-size: 16px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 36px;
}

.start-with .buttons{
  display: flex;
  align-items: center;
  gap: 16px;
}

.start-with .buttons .find-btn,
.start-with .buttons .reg-btn{
  padding: 16px 40px;
}

.start-with .buttons .find-btn::before{
  right: calc(100% - 38px);
}
.start-with .buttons .find-btn:hover::before{
  right: calc(0% - 50px);
}

.start-with .right-part{
  height: 384px;
  width: 100%;
  position: relative;
}

.start-with .single-card{
  box-shadow: 0px 26.3014px 52.6027px -9.86301px rgba(0, 0, 0, 0.14);
  padding: 14px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 240px;
  width: fit-content;
  background-color: linear-gradient(to right, rgba(255, 255, 255, 0.31), rgba(194, 225, 255, 0.19), rgba(143, 200, 254, 0.2), rgba(52, 142, 253, 0.56));
  position: absolute;
  animation: mover 1.5s infinite alternate;
}

.start-with .single-card.job{
  top: 80px;
  left: 87px;
}

.start-with .single-card.hired{
  right: 0;
  bottom: 106px;
}

.start-with .single-card.companies{
  left: 62px;
  bottom: 20px;
}

.start-with .single-card .icon-box{
  height: 78px;
  width: 78px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.start-with .single-card.job .icon-box{
  background-color: #33AAFF;
}

.start-with .single-card.hired .icon-box{
  background-color: #003C66;
}

.start-with .single-card.companies .icon-box{
  background-color: #001E33;
}

.start-with .single-card h2{
  color: var(--text);
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 6px;
}

.start-with .single-card p{
  font-weight: 500;
  font-size: 14px;
  color: rgba(13, 13, 14, 0.6);
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .start-with .single-card .icon-box{
    height: 60px;
    width: 60px;
  }

  .start-with .single-card h2{
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p{
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .start-with .left-part h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .start-with .single-card{
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box{
    height: 60px;
    width: 60px;
  }

  .start-with .single-card h2{
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p{
    font-size: 10px;
  }

  .start-with .single-card.hired {
    bottom: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .start-with .left-part h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .start-with .left-part p {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .start-with .buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .start-with .buttons .find-btn,
  .start-with .buttons .reg-btn{
    padding: 12px 30px;
  }

  .start-with .single-card{
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box{
    height: 60px;
    width: 60px;
  }

  .start-with .single-card.job{
    top: 42px;
    left: auto;
    right: 0;
  }
  
  .start-with .single-card.hired{
    right: auto;
    left: 0;
    bottom: unset;
    top: 139px;
  }
  
  .start-with .single-card.companies{
    left: auto;
    right: 0;
    bottom: 57px;
  }

  .start-with .single-card h2{
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p{
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .start-with .left-part span {
    font-size: 12px;
  }

  .start-with .left-part h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .start-with .buttons .find-btn,
  .start-with .buttons .reg-btn{
    width: 100%;
    padding: 12px 0;
  }

  .start-with .single-card{
    padding: 10px 14px;
  }

  .start-with .single-card .icon-box{
    height: 60px;
    width: 60px;
  }

  .start-with .single-card.job{
    top: 42px;
    left: auto;
    right: 0;
  }
  
  .start-with .single-card.hired{
    right: auto;
    left: 0;
    bottom: unset;
    top: 139px;
  }
  
  .start-with .single-card.companies{
    left: auto;
    right: 0;
    bottom: 57px;
  }

  .start-with .single-card h2{
    font-size: 31px;
    padding-bottom: 4px;
  }

  .start-with .single-card p{
    font-size: 10px;
  }

  .start-with .buttons .find-btn:hover::before{
    right: calc(100% - 38px);
  }
}

@media screen and (max-width: 575px) {
  .start-with .buttons {
    flex-direction: column;
  }
}

/*===========================================================
popular-category CSS
=============================================================*/
.popular-category .single-category{
  border-radius: 8px;
  width: 100%;
  background: #FBFBFB;
  padding: 12px;
  transition: all 0.4s ease-in-out;
}

.popular-category .single-category:hover{
  background: linear-gradient(90deg, rgba(240, 254, 255, 0.3) 0%, rgba(234, 254, 255, 0.29) 100%);
  box-shadow: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03);
}

.popular-category .single-category .image{
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.popular-category .single-category .image img{
  width: 100%;
}

.popular-category .single-category .image span{
  text-transform: capitalize;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
  padding: 0 11px;
  color: var(--text);
  font-size: 12px;
  font-weight: 700;
  background-color: #E5F4FF;
  border-radius: 90px;
}

.popular-category .single-category h3{
  font-size: 18px;
  color: var(--primary-text);
  font-weight: 800;
}

.popular-category .single-category p{
  font-weight: 500;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.8);
  padding: 12px 0;
}

.popular-category .single-category a{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}

.popular-category .load-more-main{
  text-align: center;
  margin-top: 24px;
}

.popular-category .load-more-main button{
  padding: 16px 26px;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
  border-color: rgba(54, 54, 54, 0.12);;
}

.popular-category .load-more-main button:hover::before{
  opacity: 0.2;
}

/*===========================================================
about CSS
=============================================================*/
.about{
  background: url(../images/about-us.png) no-repeat center;
  background-size: cover;
}

.about .single-counter .icon-box{
  height: 88px;
  width: 88px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(201, 201, 201, 0.12);
  margin: auto;
}

.about .single-counter h3{
  padding: 32px 0 8px 0;
  font-size: 32px;
  line-height: 50px;
  font-weight: 800;
  color: var(--primary-text2);
}

.about .single-counter p{
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

@media screen and (max-width: 767px) {
  .about .single-counter .icon-box {
    height: 56px;
    width: 56px;
  }

  .about .single-counter h3{
    padding: 16px 0 0 0;
  }

  .about .single-counter p{
    font-size: 12px;
  }
}